<!doctype html>
<html>
      <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/stylesheets/style.css'>
        <script src="/javascripts/scripts.js"></script>
      </head>
      <body>
        {{> header}}
        {{{body}}}
        {{> footer}}
      </body>
</html>